@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Fugaz+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
}

p{
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
}


/*========style header========*/
header#h-header{
    position: relative;
    background-color: rgb(44, 44, 44);
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    overflow: hidden;   
}
div#content-header{
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
}
div#content-header h1{
    font-size: 3.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
}
div#content-header p{
    font-style: normal;
    font-size: 1em;
    color: gray;
}
p#p-header a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: .3s ease-in-out;
}
p#p-header a:hover{
    color: #e0e0e0;
    font-weight: bolder;
    text-decoration: underline;
}

/*==========style main============*/
main#m-content{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    overflow: hidden;

}

/*==========style section da main============*/

.g-section{
    box-sizing: border-box;
    position: relative;
    padding: 15vh 10vw;
    width: 100%;
    line-height: 2em;
}
.g-section p{
    padding-bottom: 30px;
    font-size: 2em;
    line-height: 2em;
    font-family: "Bad Script", cursive;
}
.div-img-section{
    background-color: rgba(0, 0, 0, 0.563);
    display: inline-block;
    padding: 20px;
    border: 3px solid rgba(0, 0, 0, 0.636);
    border-radius: 8px;

}

section#s-content-01 {
    box-sizing: border-box;
    color: rgb(63, 63, 63);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

section#s-content-02 {
    background: rgb(44, 44, 44) url(img/background001.jpg) center center no-repeat fixed ;
    background-size: cover;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


section#s-content-03 {
    box-sizing: border-box;
    color: rgb(63, 63, 63);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    z-index: 2;
}


section#s-content-04 {
    background: rgb(44, 44, 44) url(img/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

section#s-content-05{
    box-sizing: border-box;
    color: rgb(63, 63, 63);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



/*==========style footer============*/

footer#footer{
    position: relative;
    background-color: rgb(44, 44, 44);
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    overflow: hidden; 
}
footer#footer p{
    font-size: 1em;
    font-style: normal;
}
footer#footer a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
footer#footer a:hover{
    text-decoration: underline;
    color: rgb(198, 198, 198);
}   
